<p align="center">
	<br />
	<strong>TERMOS DE ACEITA&Ccedil;&Atilde;O</strong></p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<p>
					Instrumento particular de venda de ingressos por meio eletr&ocirc;nico (internet). Trata-se o presente instrumento de um contrato celebrado atrav&eacute;s de meio eletr&ocirc;nico (internet), para venda de ingresso pelo aplicativoon-line Ticket Mobile, On The Go Mobile, empresa com sede e foro na cidade de FORTALEZA, inscrita no CNPJ15.139.826/0001-03, doravante denominada VENDEDORA, e de outro lado o COMPRADOR, devidamente registrado e cadastrado no aplicativo, a ado&ccedil;&atilde;o das cl&aacute;usulas e condi&ccedil;&otilde;es a seguir dispostas, as quais mutuamente aceitam e outorgam, de forma plena com a simples continuidade do neg&oacute;cio jur&iacute;dico em quest&atilde;o (venda e compra):</p>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>1. CONSIDERA&Ccedil;&Otilde;ES PRELIMINARES</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									<br />
									Para fins informativos e de integra&ccedil;&atilde;o da rela&ccedil;&atilde;o contratual, declara o COMPRADOR:<br />
									<br />
									I - Ter pleno conhecimento de que o aplicativo de vendas &eacute; um servi&ccedil;oe-commerce especializado na venda de ingressos para shows e eventos, com regras gerais reguladas e auditadas pela Legisla&ccedil;&atilde;o Federal, que rege a compra eletr&ocirc;nica no Brasil e pelos meios de pagamento atrav&eacute;s das operadoras parceirasos quais ser&atilde;o disponibilizados;<br />
									<br />
									II - Estar ciente de que cada evento / show tem regras espec&iacute;ficas, de acordo com a concep&ccedil;&atilde;o e produ&ccedil;&atilde;o do evento. Produtores estes que s&atilde;o os &uacute;nicos respons&aacute;veis pelo evento, e que, a ora VENDEDORA se responsabiliza t&atilde;o somente pela venda do ingresso ora comprado;&nbsp;<br />
									<br />
									III - Ser civilmente capaz e/ou estar devidamente autorizado para firmar o presente Contrato;<br />
									<br />
									IV - Ter dom&iacute;nio e acesso &agrave; internet para obten&ccedil;&atilde;o das informa&ccedil;&otilde;es necess&aacute;rias ao perfeito proveito e cumprimento do presente Contrato, atrav&eacute;s do aplicativo, cujo conte&uacute;do integra o presente Contrato, de acordo com a razoabilidade e compatibilidade adequadas, assim como atrav&eacute;s de e-mail devidamente indicado, como meio de comunica&ccedil;&atilde;o h&aacute;bil e eficaz;<br />
									<br />
									V - Ter ci&ecirc;ncia da necessidade de correta declara&ccedil;&atilde;o dos seus dados para aderir ao presente Contrato, sob pena de sua inefic&aacute;cia ou anula&ccedil;&atilde;o, preenchendo adequadamente todos os quadros da proposta eletr&ocirc;nica, os quais devem ser obrigatoriamente completados com os dados do COMPRADOR, n&atilde;o havendo permiss&atilde;o para utiliza&ccedil;&atilde;o de dados de terceiros;<br />
									<br />
									VI - Ter sido claramente informado e concordar que, o preenchimento adequado e completo dos campos referentes ao endere&ccedil;o, nome, CPF, RG, sexo e e-mail na proposta eletr&ocirc;nica ser&aacute; imprescind&iacute;vel para a comunica&ccedil;&atilde;o do COMPRADOR com a VENDEDORA, especialmente o e-mail que ser&aacute; utilizado para fins de receber e/ou enviar correspond&ecirc;ncias, sendo que qualquer altera&ccedil;&atilde;o da conta de e-mail informada na proposta eletr&ocirc;nica dever&aacute; submeter-se &agrave;s regras dos provedores de servi&ccedil;os utilizados pelo COMPRADOR e dever&atilde;o ser compat&iacute;veis com o aplicativo da VENDEDORA;<br />
									<br />
									VII - Estar ciente de que o presente Contrato &eacute; pessoal, intransfer&iacute;vel e feito exclusivamente atrav&eacute;s da internet pelo aplicativo de venda, onde todas as informa&ccedil;&otilde;es necess&aacute;rias e de interesse do COMPRADOR ser&atilde;o divulgadas;<br />
									<br />
									VIII - Estar ciente de que a VENDEDORA &eacute; uma mera intermedi&aacute;ria entre a produ&ccedil;&atilde;o do evento/show e o COMPRADOR, e que, portanto, a VENDEDORA n&atilde;o tem qualquer responsabilidade sobre o evento, n&atilde;o sendo fornecedora do mesmo, nem prestando qualquer servi&ccedil;o al&eacute;m dodisposto, ou seja, a intermedia&ccedil;&atilde;o da compra do ingresso, encerrando a&iacute; a responsabilidade da VENDEDORA;<br />
									<br />
									IX - O Promotor ou Produtor do evento &eacute; o &uacute;nico respons&aacute;vel pela realiza&ccedil;&atilde;o do mesmo, bem como seu adiamento ou cancelamento, ficando a VENDEDORA isenta de qualquer responsabilidade neste sentido, inclusive sendo o &uacute;nico a poder integrar o polo passivo de a&ccedil;&otilde;es judiciais cab&iacute;veis por sua des&iacute;dia.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>2. DO OBJETO</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									<br />
									O objeto deste Contrato consiste na venda de ingressos, no valor total e nas modalidades de compra para os eventos disponibilizados no aplicativo, de acordo com a programa&ccedil;&atilde;o e condi&ccedil;&otilde;es previamente divulgadas atrav&eacute;s do mesmo.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>3. DOS DEVERES E DAS OBRIGA&Ccedil;&Otilde;ES</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									<br />
									3.1. Obriga-se o COMPRADOR a cumprir com o pagamento da modalidade escolhida no site da VENDEDORA, nos prazos, valores e condi&ccedil;&otilde;es devidamente ajustadas conforme a proposta eletr&ocirc;nica;<br />
									<br />
									3.2. O comprador ser&aacute; totalmente respons&aacute;vel pelo seu Ticket QR code(Ingresso)ao efetuar a compra na aplica&ccedil;&atilde;o Ticket Mobile. Ap&oacute;s efetuar a compra o mesmo receber&aacute; seu Ticket QR code (Ingresso) na sua conta de e-mail e na sua conta no aplicativo Ticket Mobile do seu aparelho m&oacute;vel;<br />
									<br />
									3.3. O COMPRADOR dever&aacute; manter ativa a conta de e-mail informada at&eacute; o total exaurimento das obriga&ccedil;&otilde;es decorrentes do presente contrato;<br />
									<br />
									3.4. A VENDEDORA dever&aacute; manter o COMPRADOR ciente, atrav&eacute;s do aplicativo e de sua conta de e-mail cadastrada, das informa&ccedil;&otilde;es necess&aacute;rias ao cumprimento do objeto deste contrato;<br />
									<br />
									3.5. A VENDEDORA dever&aacute; prestar os servi&ccedil;os decorrentes deste contrato com qualidade, efici&ecirc;ncia e seguran&ccedil;a;<br />
									<br />
									3.6. A VENDEDORA poder&aacute; negar o aceite de compra e transa&ccedil;&atilde;o, devido a motivos como: inclus&atilde;o em &oacute;rg&atilde;os de restri&ccedil;&atilde;o ou cr&eacute;dito (SPC / SERASA), tentativas de fraude eletr&ocirc;nica ou de procedimentos no aplicativo, al&eacute;m de outras que se apliquem e que venham a estar presente neste;<br />
									<br />
									3.7. A VENDERORA deve zelar para o bom cumprimento deste contrato em aten&ccedil;&atilde;o aos princ&iacute;pios da boa-f&eacute; objetiva da presente rela&ccedil;&atilde;o jur&iacute;dica.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>4. DO PROCEDIMENTO PARA AQUISI&Ccedil;&Atilde;O, DO PRE&Ccedil;O E DA FORMA DE PAGAMENTO</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									<br />
									4.1. Para participa&ccedil;&atilde;o no evento, o COMPRADOR pagar&aacute; o pre&ccedil;o especificado no evento escolhido naaplica&ccedil;&atilde;o Ticket Mobile, o qual integra o presente instrumento para todos os fins de direito, na forma e condi&ccedil;&otilde;es nela expressamente previstas, conforme op&ccedil;&atilde;o escolhida pelo COMPRADOR no ato do seu envio pela internet e nos termos da clausula terceira e seus incisos;<br />
									<br />
									4.2. A VENDEDORA n&atilde;o se responsabilizar&aacute; por confirma&ccedil;&otilde;es eletr&ocirc;nicas n&atilde;o recebidas por motivos de ordem t&eacute;cnica dos computadores, falhas de comunica&ccedil;&atilde;o, congestionamento das linhas de comunica&ccedil;&atilde;o, bem como outros fatores que impossibilitem a transfer&ecirc;ncia de dados. Para que a compra se considere conclu&iacute;da, &eacute; necess&aacute;rio que o COMPRADOR receba o Ticket QR code (Ingresso), do evento escolhido, na sua conta do aplicativo e/ou na sua conta de e-mail cadastrada no aplicativo.</p>
								<p>
									<br />
									4.3. O envio da confirma&ccedil;&atilde;o eletr&ocirc;nica implica na concord&acirc;ncia com todas as condi&ccedil;&otilde;es deste instrumento, de ambas as partes;<br />
									<br />
									4.4. Ap&oacute;s recebimento da confirma&ccedil;&atilde;o eletr&ocirc;nica, a VENDEDORA disponibilizar&aacute; informa&ccedil;&otilde;es no aplicativo sobre o status da compra, atrav&eacute;s da modalidade de pagamento escolhida pelo COMPRADOR;<br />
									<br />
									4.5. A VENDEDORA n&atilde;o se responsabilizar&aacute; por extravio, perda, furto ou roubo dos comprovantes de pagamentos e Ticket QR Code (Ingresso);</p>
								<p>
									&nbsp;</p>
								<p>
									4.6. Caso ocorra perda , roubo, extravio do Ticket QR code (Ingresso) ou o aparelho m&oacute;vel do comprador esteja com o n&iacute;vel de bateria insuficiente para exibir o seu Ticket QR code, o mesmo poder&aacute; informar os dados de sua conta e compra para o promotor e/ou produtor do evento, o mesmo dever&aacute; checar as informa&ccedil;&otilde;es junto a listagem de Ticket&acute;s QR code (Ingresso) ativos. Ap&oacute;s a confirma&ccedil;&atilde;o dos dados e do Ticket QR code (Ingresso),o COMPRADOR ter&aacute; seu acesso liberado e o Ticket QR code (Ingresso) ser&aacute; transferido para a listagem de Ticket&acute;s QR code (Ingresso) inativos.<br />
									<br />
									4.7 Uma vez enviada a confirma&ccedil;&atilde;o eletr&ocirc;nica da compra, o COMPRADOR n&atilde;o poder&aacute; alter&aacute;-la, exceto para os casos descritos em nossa pol&iacute;tica de cancelamento&nbsp;<a href="http://%28www.ticketmobile.com.br/politicas/cancelamento)">(www.ticketmobile.com.br/politicas/cancelamento)</a>;<br />
									<br />
									4.8. Independentemente da modalidade de pagamento escolhida pelo COMPRADOR, &agrave; efetiva entrega doTicketQRcode(Ingresso), em qualquer modalidade, ser&aacute; condicionada &agrave; total quita&ccedil;&atilde;o dos valores devidos;<br />
									<br />
									4.9. Todas as despesas com tarifas banc&aacute;rias ou juros de cart&atilde;o de cr&eacute;dito para efetuar o pagamento dos pre&ccedil;os ajustados em contrato, se houver, ser&atilde;o encargos do COMPRADOR.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>5. DA ENTREGA DOS INGRESSOS</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									5.1. A ENTREGA do TICKET QRcode (Ingresso)&eacute; de inteira responsabilidade DA VENDEDORA.&nbsp;<br />
									<br />
									5.2. Na entrada do evento, ser&aacute; indispens&aacute;vel &agrave; apresenta&ccedil;&atilde;o pelo COMPRADOR:&nbsp;<br />
									<br />
									I. Do Ticket QR code (Ingresso) em seu aparelho m&oacute;vel ouimpresso;&nbsp;<br />
									<br />
									II. Dos documentos originais ou c&oacute;pia simples do titular da compra: RG, CPF ou CNH;&nbsp;<br />
									<br />
									5.4. Somente ser&aacute;liberado a entrada do Ticket QRcode (Ingressos), em suas modalidades, para os portadores dos documentos acima descritos, e se os dados constantes dos documentos estiverem em conformidade com o que foi preenchido na proposta eletr&ocirc;nica;&nbsp;<br />
									<br />
									5.5. A n&atilde;o apresenta&ccedil;&atilde;o destes documentos acarretar&aacute; na perda do ingresso sem direito a qualquer reembolso;&nbsp;<br />
									<br />
									5.6. O ingresso adquirido no aplicativo n&atilde;o implica em vantagens, nem prioridade na fila de entrada no evento;&nbsp;<br />
									<br />
									5.7. Recomendamos chegar ao local do evento com anteced&ecirc;ncia de pelo menos 1 hora;&nbsp;<br />
									<br />
									5.8. O sistema de controle dosTicket&acute;s QRcode (Ingressos) controla a entrada de cada Ticket QRcode(Ingresso), sendo assim, &eacute; obriga&ccedil;&atilde;o do cliente n&atilde;o permitir c&oacute;pia do Ticket QRcodevirtuale/ouimpresso pela internet. Se houver duas c&oacute;pias do Ticket QRcode(Ingresso), o sistema permitir&aacute;, apenas, a entrada do primeiro;&nbsp;<br />
									<br />
									5.9. O Ticket QR code(Ingresso) &eacute; v&aacute;lido somente para o evento especificado nos dados do Ticket QRcode. Para utiliza&ccedil;&atilde;o &uacute;nica. N&atilde;o permitiremos devolu&ccedil;&atilde;o, modifica&ccedil;&atilde;o nem troca do mesmo;&nbsp;<br />
									<br />
									5.10. Em caso de compra de mesas, &aacute;reas de acesso vip, assentos e seus similares, quando n&atilde;o dispon&iacute;vel no aplicativo o sistema de mapa eletr&ocirc;nico para escolha e marca&ccedil;&atilde;o de mapas e assentos, ser&aacute; de exclusiva responsabilidade da produ&ccedil;&atilde;o do evento a distribui&ccedil;&atilde;o dos lugares e preenchimento dos lugares, conforme a sua conveni&ecirc;ncia ou ordem de chegada, n&atilde;o sendo de responsabilidade da VENDEDORA nenhuma configura&ccedil;&atilde;o de layout, log&iacute;stica ou posi&ccedil;&atilde;o de visualiza&ccedil;&atilde;o do artista/evento durante sua apresenta&ccedil;&atilde;o.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>6. DA POSSIBILIDADE DE DESIST&Ecirc;NCIA DO COMPRADOR E DA DEVOLU&Ccedil;&Atilde;O DE VALORES</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									6.1. At&eacute; 07 (sete) dias corridos ap&oacute;s a COMPRA do ingresso, desde que at&eacute; 48 horas antes da data do evento, o COMPRADOR poder&aacute; manifestar sua desist&ecirc;ncia devidamente justificada nos moldes da pol&iacute;tica de cancelamento, descrita no item 4.7, deste contrato;<br />
									<br />
									6.1.1. A devolu&ccedil;&atilde;o ser&aacute; atrav&eacute;s de cancelado junto &agrave; operadora do cart&atilde;o;<br />
									<br />
									6.1.2. Aplicam-se as disposi&ccedil;&otilde;es desta cl&aacute;usula &agrave; hip&oacute;tese de falecimento do COMPRADOR, antes da realiza&ccedil;&atilde;o do evento, o que extinguir&aacute; o Contrato por ser intransmiss&iacute;vel, pelo que dever&atilde;o seus leg&iacute;timos herdeiros ou sucessores comunicar formalmente &agrave; VENDEDORA o fato, mediante documento comprobat&oacute;rio, a qual providenciar&aacute; a respectiva devolu&ccedil;&atilde;o dos valores efetivamente pagos;<br />
									<br />
									6.2. Caso o COMPRADOR efetue o estorno da autoriza&ccedil;&atilde;o do cart&atilde;o de cr&eacute;dito sem o consentimento da VENDEDORA, fica o COMPRADOR ciente de que a VENDEDORA ir&aacute; cobrar o ressarcimento do valor do objeto deste contrato por mecanismos de cobran&ccedil;as como emiss&atilde;o de boletos banc&aacute;rios, reativa&ccedil;&atilde;o do d&eacute;bito no cart&atilde;o e ainda por comunica&ccedil;&atilde;o extrajudicial e judicial, com o cadastro do nome do COMPRADOR nos &oacute;rg&atilde;os de prote&ccedil;&atilde;o ao cr&eacute;dito;<br />
									<br />
									6.2.1. Ocorrendo a hip&oacute;tese supramencionada de estorno, responsabiliza-se o COMPRADOR por todas as despesas na obten&ccedil;&atilde;o da recupera&ccedil;&atilde;o do cr&eacute;dito, seja judicial ou extra, arcando com os &ocirc;nus das despesas processuais e honor&aacute;rios advocat&iacute;cios no importe de 20% (vinte por cento) sobre o valor da condena&ccedil;&atilde;o.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>7. DA TRANSFER&Ecirc;NCIA</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									7.1. N&atilde;o &eacute; permitida a transfer&ecirc;ncia do direito de usufruir os servi&ccedil;os previstos neste contrato para outro evento, a n&atilde;o ser com a expressa AUTORIZA&Ccedil;&Atilde;O da produtora, promotora ou da VENDEDORA.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>8. DA EXTIN&Ccedil;&Atilde;O DO CONTRATO</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									8.1. Este contrato poder&aacute; ser extinto no caso de preenchimento da ficha cadastral pelo COMPRADOR, com dados falsos, inconsistentes e/ou que n&atilde;o correspondam &agrave; sua pessoa.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>9. DO PRAZO CONTRATUAL</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									9.1 O presente Contrato ter&aacute; vig&ecirc;ncia determinada a partir da confirma&ccedil;&atilde;o, pelo COMPRADOR, do recebimento da confirma&ccedil;&atilde;o eletr&ocirc;nica enviada pela VENDEDORA atrav&eacute;s do recebimento da sua assinatura eletr&ocirc;nica IP e/ou confirma&ccedil;&atilde;o atrav&eacute;s do aplicativo Ticket Mobile;<br />
									<br />
									9.2. O COMPRADOR declara estar ciente de que a VENDEDORA registrar&aacute; o seu IP para fins de registro do contrato, estando obrigada aos deveres de sigilo e confidencialidade dispostos na cl&aacute;usula d&eacute;cima primeira;<br />
									<br />
									9.3. Caso o pagamento seja estornado pela Operadora de Cart&atilde;o de Cr&eacute;dito ou Institui&ccedil;&atilde;o Financeira, este Contrato ser&aacute; automaticamente extinto conforme previsto em cl&aacute;usula anterior.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>10. DO SIGILO E DA CONFIDENCIALIDADE</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									10.1. A VENDEDORA compromete-se a n&atilde;o divulgar a terceiros, quaisquer informa&ccedil;&otilde;es de car&aacute;ter confidencial, obtidos durante a vig&ecirc;ncia deste Contrato, relativos aos dados pessoais do COMPRADOR;</p>
								<p>
									&nbsp;</p>
								<p>
									10.2. Todos os dados pessoais fornecidos pelo COMPRADOR ser&atilde;o guardados em absoluto segredo e utilizados somente para realiza&ccedil;&atilde;o dos fins do presente Contrato.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>11. CASO FORTUITO E FOR&Ccedil;A MAIOR</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									11.1. Os casos fortuitos ou de for&ccedil;a maior ser&atilde;o excludentes de responsabilidades das partes, na forma da Legisla&ccedil;&atilde;o Brasileira;<br />
									<br />
									11.2. Na hip&oacute;tese do produtor do evento deixar de realiz&aacute;-lo, por qualquer motivo de caso fortuito ou for&ccedil;a maior (raios, fortes chuvas, inc&ecirc;ndio e etc.), bem como por atos de interven&ccedil;&atilde;o do poder p&uacute;blico, que n&atilde;o sejam motivados por infra&ccedil;&atilde;o da VENDEDORA, estar&aacute; esta, isenta de qualquer responsabilidade, bem como n&atilde;o ser&aacute; efetuada a devolu&ccedil;&atilde;o dos valores pagos pelo COMPRADOR, cabendo a este reivindicar seus direitos, exclusiva e diretamente &agrave; Produtora;<br />
									<br />
									11.3. Em toda e qualquer situa&ccedil;&atilde;o que n&atilde;o seja o cancelamento da compra, previsto no item &quot;4.7&quot; deste contrato, a devolu&ccedil;&atilde;o de valores dever&aacute; ser pleiteada exclusiva e diretamente junto &agrave; produtora do evento, visto que a VENDEDORA n&atilde;o fica com qualquer valor, nem &eacute; respons&aacute;vel pelo evento, mas sim, uma mera intermedi&aacute;ria na venda dos ingressos.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>12. DISPOSI&Ccedil;&Otilde;ES GERAIS</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									<br />
									12.1. O fato de qualquer Cl&aacute;usula deste Contrato ser considerada nula ou tornada sem efeito, n&atilde;o implicar&aacute; em nulidade do restante do Contrato, que permanecer&aacute; em vigor, sem que haja qualquer solu&ccedil;&atilde;o de continuidade dos direitos e obriga&ccedil;&otilde;es nele acordados e n&atilde;o afetados pela(s) Cl&aacute;usula(s) tornada(s) sem efeito;<br />
									<br />
									12.2. O COMPRADOR declara receber o inteiro teor deste Contrato, em linguagem clara, e estar consciente dos direitos e condicionantes que limitam o cumprimento de seu objeto, anuindo com todos os seus termos, tendo em vista que o prosseguimento e finaliza&ccedil;&atilde;o da contrata&ccedil;&atilde;o pela internet exigem, necessariamente, que se tenha o acesso a esta parte final do documento;<br />
									<br />
									12.3. Tendo em vista o aceite eletr&ocirc;nico da proposta pelo COMPRADOR, este contrato &eacute; v&aacute;lido independentemente de assinatura;<br />
									<br />
									12.4. Este contrato s&oacute; &eacute; v&aacute;lido com as devidas confirma&ccedil;&otilde;es de pagamento e recebimento pelas institui&ccedil;&otilde;es de meio de pagamento escolhidas e transacionadas pelo COMPRADOR, na aquisi&ccedil;&atilde;o de seu ingresso.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>13. DO FORO</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									13.1. Os casos omissos ser&atilde;o resolvidos em comum acordo entre as partes conforme a legisla&ccedil;&atilde;o pertinente, ficando desde j&aacute; eleito o Foro de Fortaleza, para dirimir e solucionar quaisquer d&uacute;vidas, demandas ou lit&iacute;gios oriundos do presente instrumento, renunciando as partes a qualquer outro, por mais privilegiado que venha a ser.</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>
<p>
	&nbsp;</p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:968px;" width="968">
	<tbody>
		<tr>
			<td style="height:40px;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:926px;" width="926">
					<tbody>
						<tr>
							<td style="width:871px;">
								<p>
									<strong>14. DO CLIENTE</strong></p>
							</td>
						</tr>
						<tr>
							<td>
								<p>
									14.1. Ao aceitar os termos deste instrumento, declara conhecimento de todas as cl&aacute;usulas do contrato e declara que n&atilde;o far&aacute; estorno do valor do cart&atilde;o de cr&eacute;dito para esta compra, respondendo civil e criminalmente por supostas fraudes.<br />
									<br />
									<strong>E por estarem assim justos e contratados, assinam eletronicamente ao concordar com o presente instrumento, marcando a caixa selecionadora (checkbox) no ato da compra, nos termos contido neste.<br />
									</strong><br />
									<br />
									<br />
									Fortaleza, 2013<br />
									On The Go Mobile</p>
							</td>
						</tr>
					</tbody>
				</table>
				<div style="clear:both;">
					&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<div style="clear:both;">
	&nbsp;</div>